.container {
    height: auto;
    min-height: 98vh;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

.question {
    padding-left: 1vw;
    border: 1px solid black;
    margin-bottom: 2vh;
}

.questionsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choicesList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.choice {
    padding-left: 1vw;
}
