<div class="chart-container">
    <div class="custom-legend">
        <h2> Légende: </h2>
        <div class="legend-item">
            <span class="color-box" style="background-color: red;"></span>
            Mauvaises Réponses
        </div>
        <div class="legend-item">
            <span class="color-box" style="background-color: lightgreen;"></span>
            Bonnes Réponses
        </div>
    </div>
    <canvas
        baseChart
        class="graph"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
    >
    </canvas>
</div>
