#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#question-field > * {
    justify-content: space-between;
}

#question-field > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-field > div > * {
    margin: 1vh;
}

#question-field > div > h2 {
    font-weight: 600;
    font-size: 2.5vw;
}

#question-field > div > h3 {
    font-weight: 400;
    font-size: 1vw;
}

#question-field > h4 {
    font-weight: 500;
    font-size: 2vw;
}

#answer-field {
    width: 90%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 5%;
    padding-bottom: 2% ;
    margin-bottom: 5vh;
}


#flex-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px ;
}

.enter {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: 4px solid #007bff;
}

.enter:hover {
    background-color: white;
    color: #007bff;
    transition: 0.3s;
}

.enter:active {
    background-color: #007bff;
    color: black;
    border: 4px solid black;
}

.enter:disabled {
    background-color: gray;
    color: white;
    border: 4px solid gray;
    cursor: not-allowed;
    opacity: 0.35;
}

.cancel {
    margin-right: 10px;
    background-color: red;
    color: white;
    border: 4px solid red;
}

.cancel:hover {
    background-color: white;
    color: red;
    transition: 0.3s;
}

.cancel:active {
    background-color: red;
    color: black;
    border: 4px solid black;
}

button {
    flex: 1;
    margin: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.strikethrough {
    text-decoration: line-through;
  }

.players-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;

        .player-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .player-name {
                margin-right: 10px;
                font-size: 18px;
            }

            .ban-icon {
                font-size: 20px;
                cursor: pointer;
                visibility: visible;
                margin-left: auto;
            }
        }
    }
    .icon-container {
        font-size: 20px;
        color: #FF0000;
        cursor: pointer;
    }
}
