<div class="grid-container" *ngIf='hostInterfaceManagerService.isGameOver'>
    <h2>Partie terminée</h2>
    <app-quitter-button></app-quitter-button>
</div>
<div class="grid-container" *ngIf='!hostInterfaceManagerService.isGameOver'>
    <div id="flex-container">
        <div class="circle">
            <span>{{hostInterfaceManagerService.timerText}}</span>
            <span>{{gameService.timer}}</span>
            <mat-icon [matTooltip]="hostInterfaceManagerService.isPaused ? 'Play' : 'Pause'" (click)='hostInterfaceManagerService.sendPauseTimer()'>{{ hostInterfaceManagerService.isPaused ? 'play_circle_outline' : 'pause_circle_outline' }}</mat-icon>
            <mat-icon [matTooltip]="gameService.isPanicDisabled() || hostInterfaceManagerService.isPanicMode ? 'Vous ne pouvez  pas encore activer le mode panique' : 'Activez mode panique !'" (click)='hostInterfaceManagerService.startPanicMode()' [ngClass]="{'disable': gameService.isPanicDisabled() || hostInterfaceManagerService.isPanicMode}"> whatshot </mat-icon>
        </div>
        <section id="question-field">
            <div>
                <h2> Question {{gameService.questionNumber}}</h2>
                <h3> Valeur: {{ gameService.question?.points }} points</h3>
                <h4>{{ gameService.question?.text }}</h4>
            </div>
        </section>
    </div>
    <div class='btn-container'>
        <button *ngIf='!hostInterfaceManagerService.isHostEvaluating' class='enter'
                [disabled]='isDisabled()'
                (click)='handleHostCommand()'>
                {{updateHostCommand()}}
        </button>
        <app-quitter-button></app-quitter-button>
    </div>
</div>
<app-correction-qrl [gameStats] ='hostInterfaceManagerService.gameStats' [reponsesQRL]='hostInterfaceManagerService.responsesQRL' [isHostEvaluating]='hostInterfaceManagerService.isHostEvaluating'></app-correction-qrl>
<div class="result-container">
    <div class="histogram" *ngIf='!hostInterfaceManagerService.isGameOver'>
        <app-statistic-histogram [changingResponses]="hostInterfaceManagerService.histogramDataChangingResponses" [valueOfResponses]="hostInterfaceManagerService.histogramDataValue"></app-statistic-histogram>
    </div>
    <app-statistic-zone *ngIf="hostInterfaceManagerService.isGameOver" [gameStats]="hostInterfaceManagerService.gameStats"></app-statistic-zone>
    <app-player-list
        #playerListChild
        [roomId]='gameService.gameRealService.roomId'
        [leftPlayers]='hostInterfaceManagerService.leftPlayers'
        [isHost] = 'true'>
    </app-player-list>
</div>



