<div id="grid-container" *ngIf='!isGameOver'>
    <div id="flex-container">
        <p> {{timerText}} : {{ gameService.timer }}</p>
    </div>
    <section id="question-field">
        <div>
            <h2> Question {{gameService.questionNumber}}</h2>
            <h3> Valeur: {{ gameService.question?.points }} points</h3>
            <h4>{{ gameService.question?.text }}</h4>
        </div>
    </section>
    <div class='btn-container'>
        <button class='enter'
                [disabled]='isDisabled()'
                (click)='handleHostCommand()'>
                {{updateHostCommand()}}
        </button>
        <button class='cancel' routerLink='/home'> Quitter </button>
    </div>
</div>

<div class="histogram">
    <app-organizer-histogram [finalResponses]="this.histogramData" [changingResponses]="this.histogramDatachangingResponses" [valueOfResponses]="this.histogramDataValue"></app-organizer-histogram>
</div>

<div *ngIf='isGameOver'>
    <h2>Partie terminée</h2>
    <button class='cancel' routerLink='/home'> Quitter </button>
<!--    <div>Liste des joueurs</div>-->
<!--    <div>Liste des histogrammes (je pense pour sprint3)</div> -->
</div>


