<div class="quizzes-container">
    <!-- <h3 *ngIF="isImportError">{{importError}}</h3> -->
    <table>
        <thead>
            <tr>
                <th>Games</th>
                <th *ngIf="isAdmin">Visibility</th>
                <th *ngIf="isAdmin">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of quizzes" [class.selected]="!isAdmin && quiz === selectedQuiz" (click)="selectQuiz(quiz)">
                <td>
                    <app-game-item [quiz]="quiz" class="game-item" [isAdmin]="isAdmin" (removeQuiz)="removeQuiz($event)"></app-game-item>
                    <app-quiz-info *ngIf="quiz === selectedQuiz && !isAdmin" [selectedQuiz]="quiz"></app-quiz-info>
                </td>
                <td *ngIf="isAdmin">
                    <label class="switch-btn">
                        <input type="checkbox" [(ngModel)]="quiz.visible" (click)="updateVisibility(quiz)" />
                        <span class="slider round"></span>
                    </label>
                </td>
                <td *ngIf="isAdmin">
                    <span>{{ quiz.lastModification }}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="button-container" *ngIf="isAdmin">
                    <button routerLink="/game-creation" class="add"><i class="fas fa-plus"></i> Add Game</button>
                    <input type="file" #fileInput accept="/application/json" [class.hide-file-input]="true" (change)="selectFile($event)" />
                    <button class="add" (click)="this.uploadFile()"><i class="fas fa-file-import"></i> Import</button>
                    <button routerLink="/home" class="cancel">Cancel</button>
                </td>
                <td class="button-container" *ngIf="!isAdmin">
                    <button class="add" [class.disabled-button]="!selectedQuiz" [disabled]="!selectedQuiz">Play</button>
                    <button class="add" [class.disabled-button]="!selectedQuiz" [disabled]="!selectedQuiz">Test</button>
                    <button routerLink="/home" class="cancel">Cancel</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
