<div class="quizzes-container">
    <table>
        <thead>
            <tr>
                <th>Games</th>
                <th>Visibility</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of quizzes">
                <td>
                    <app-game-item [quiz]='quiz' class="game-item">
                    </app-game-item>
                </td>
                <td>
                    <label class="switch-btn">
                        <input type="checkbox" [(ngModel)]='quiz.visible'>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <span>{{quiz.lastModification}}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="button-container">
                        <button routerLink="/game-creation" class="add">
                            <i class="fas fa-plus"></i> Add Game
                        </button>
                        <button class="add">
                            <i class="fas fa-file-import"></i> Import
                        </button>
                        <button routerLink="/home" class="cancel"> Cancel </button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
