<div *ngIf="isHostEvaluating" class="correction-qrl-container">
    <h3>Correction de la question:</h3>
    <p> Joueur : {{ qrlEvaluationService.currentUsername }} </p>
    <p> Réponse : {{ qrlEvaluationService.currentAnswer }} </p>
    <select [(ngModel)]="qrlEvaluationService.inputPoint">
        <option *ngFor="let score of qrlEvaluationService.scores" [value]="score">{{ score }}</option>
    </select>
    <button class="enter" (click)="submitPoint()">Valider</button>
    <p *ngIf="!qrlEvaluationService.isValid">Veuillez sélectionner une note</p>
</div>
