<div id="grid-container">
    <div id="flex-container">
        <p>Pointage: {{playerScore}}</p>
        <p *ngIf = 'isBonus'> Salam! Vous avez recu des points Bonus! Bsaha</p>
        <p>Temps restant : {{ gameService.timer }}</p>
    </div>
    <section id="question-field">
        <div>
            <h2>Question {{gameService.currentQuestionIndex + 1}}</h2>
            <h3>Valeur : {{ gameService.question?.points }} points</h3>
        </div>
        <h4>{{ gameService.question?.text }}</h4>
    </section>
    <app-game-answers-list *ngIf='gameService.question?.type === questionType.QCM' id='answer-field'>
    </app-game-answers-list>
    <button (click)='nextQuestion()'>Next question</button>
</div>
