<div class="grid-container" *ngIf='isGameOver'>
    <h2>Le jeu est terminé!</h2>
    <p>Votre score final : {{ playerScore }}</p>
    <button class='cancel' routerLink='/home'>Quitter</button>
</div>
<div class="result-container">
<app-statistic-zone *ngIf="this.isGameOver" [gameStats]="gameStats"></app-statistic-zone>
    <app-player-list
        [hidden]='!isGameOver'
        #playerListChild
        [roomId]='gameService.gameRealService.roomId'
        [leftPlayers]='[]'
        [isFinal] = 'isGameOver'
        [isHost] = 'false'>
    </app-player-list>
</div>
<div *ngIf='!isGameOver' class="grid-container">
    <div id="flex-container">
        <p>Pointage: {{ score }}</p>
        <p *ngIf = 'bonusStatus'> Vous avez recu des points Bonus! </p>
        <p> {{ timerText }} : {{ gameService.timer }}</p>
    </div>
    <section id="question-field">
        <div>
            <h2>Question {{ gameService.questionNumber }}</h2>
            <h3>Valeur : {{ gameService.question?.points }} points</h3>
        </div>
        <h4>{{ gameService.question?.text }}</h4>
    </section>
    <app-game-answers-list *ngIf='gameService.question?.type === questionType.QCM' id='answer-field'>
    </app-game-answers-list>
</div>

