<div class='sort-buttons'>
    <p>Trier la liste par : </p>
    <button (click)="this.sortByName()"   [class]='(optionSelections.get("byName")  ) ? "selected": "add"'>Nom</button>
    <button (click)="this.sortByScore()"  [class]='(optionSelections.get("byScore") ) ? "selected": "add"'>Point</button>
    <button (click)="this.sortByStatus()" [class]='(optionSelections.get("byStatus")) ? "selected": "add"'>Statut</button>
    <button (click)="this.changeOrder()"  class='add'><i [class]='orderIcon'></i></button>
</div>
<div class="players-container">
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Points</th>
            <th>Bonus</th>
            <th *ngIf='isHost'>Chat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of sortAllPlayers()" [class]='player[3]'>
            <td> {{player[0]}} </td>
            <td> {{player[1]}} </td>
            <td> {{player[2]}} </td>
            <td *ngIf='isHost'>
                <label *ngIf='!isPlayerGone(player[0])' class="switch-btn">
                    <input type="checkbox" [checked]='player[4]' (click)='toggleChatPermission(player[0])'>
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
