<h2> Résultats </h2>
<div class='sort-buttons'>
    <button (click)="this.sortByName()">Trier par Nom</button>
    <button (click)="this.sortByScore()">Trier par Score</button>
    <button (click)="this.sortByStatus()">Trier par Statut</button>
    <button (click)="this.changeOrder()">Changer l'ordre</button>
</div>
<div class="players-container">
    <table>
        <thead>
        <tr>
            <th>Top</th>
            <th>Pseudo</th>
            <th>Score</th>
            <th>Bonuses</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players; let i = index" [class]='player[3]'>
            <td> #{{i + 1}} </td>
            <td> {{player[0]}} </td>
            <td> {{player[1]}} </td>
            <td> {{player[2]}} </td>
        </tr>
        </tbody>
    </table>
</div>
