<div class="waiting-room">
    <div class="waiting-room-header">
        <h1>Salle d'attente</h1>
        <h2 *ngIf='isHost'>Code : {{roomId}}</h2>
        <div *ngIf='isHost'>
            <h3> La salle est {{this.setLockActionMessage()}}</h3>
            <label class="switch-btn">
                <input type="checkbox" (click)='toggleRoomLocked()'/>
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div class="players-list">
        <h2>Joueurs:</h2>
        <ul>
            <li class="player-item" *ngFor="let player of players">
                <span class="player-name">{{ player }}</span>
                <div class='icon-container'><i class='fa fa-ban'(click)="banPlayer(player)" *ngIf='isHost' title='bannir'></i></div>
            </li>
        </ul>
    </div>


    <div class="actions">
        <button *ngIf='isHost' class="action-btn" (click)='startGame()' [disabled]="!this.isRoomLocked">Commencer</button>
        <button class="cancel" routerLink='/home'> Quitter </button>
    </div>
</div>

