<div id="sidebar">
    <div class="sidebar-header">
        <h3>Zone de Clavardage</h3>
    </div>

    <div class="sidebar-content">
        <div class="message-container" *ngFor="let message of messages">
            <div class="username-said">{{message.sender}} dit:</div>
            <p>{{ message.content }}</p>
        </div>
    </div>

    <div class="message-input">
        <input type="text" placeholder="Envoyer un message" [(ngModel)]='newMessageContent' (keyup.enter)='sendMessage()'/>
    </div>
</div>
