<div id="sidebar">
    <!-- Sidebar header -->
    <div class="sidebar-header">
        <h3>Zone de Clavardage</h3>
    </div>

    <!-- Sidebar content (message display area) -->
    <div class="sidebar-content">
        <div class="message-container" *ngFor="let message of messages">
            <div class="username-said">Username dit:</div><!-- temporary for Sprint 1 -->
            <p>{{ message }}</p>
        </div>
    </div>

    <!-- Message input box -->
    <div class="message-input">
        <input type="text" placeholder="Envoyer un message" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" />
    </div>
</div>
