<div id="grid-container">
    <div id="flex-container">
        <p>Pointage: {{ pointage }}</p>

        <p>Temps restant : {{ timer }}</p>
    </div>

    <section id="question-field">
        <div>
            <h2>Question {{ questionIndex + 1 }}</h2>
            <h3>Valeur : {{ questionPoints }} points</h3>
        </div>

        <h4>{{ currentQuestion }}</h4>
    </section>
    <div id="answer-field">
        <app-answer-choice-card
            *ngFor="let choice of answerChoices; let i = index"
            
            (click)="onCardSelected(i)"
            [disabled]="disableOption"
            [selected]="selectedCard[i]"
            [cardNumber]="i + 1"
            [cardQuestion]="choice.text"
            [isCorrect]="choice.isCorrect && timeEnd"
        ></app-answer-choice-card>
    </div>

    <button (click)="clickedValidation = true" [disabled]="disableOption" [style.background-color]="bgColor" id="button-position">
        <p>Valider</p>
    </button>

    <div id="abondon-position">
        <button routerLink="/home" id="abondon-button">
            <p>Abandonner</p>
        </button>
    </div>
</div>
